<h2><%= gettext "Edit %{title}", title: @book.title %></h2>
<%= render "form.html", Map.merge(assigns, %{action: Routes.books_path(@conn, :update, @book), cancel_action: [to: Routes.books_path(@conn, :show, @book)]}) %>
